<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254014732947-282pep3heop3irtgqnmngelo6cct5ra8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254014732947-282pep3heop3irtgqnmngelo6cct5ra8</string>
	<key>API_KEY</key>
	<string>AIzaSyDcIYk8JLFGXRRaSUJvIXYYfM_s34gZ3WY</string>
	<key>GCM_SENDER_ID</key>
	<string>254014732947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NewWaveeComp.PinBoard</string>
	<key>PROJECT_ID</key>
	<string>pinboard-c2ef5</string>
	<key>STORAGE_BUCKET</key>
	<string>pinboard-c2ef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254014732947:ios:4f7cf03cb871d88e0a6b66</string>
	<key>DATABASE_URL</key>
	<string>https://pinboard-c2ef5.firebaseio.com</string>
</dict>
</plist>